asgiref==3.11.0
atomicwrites==1.4.0
attrs==25.4.0
awsebcli==3.20.10
blessed==1.25.0
botocore==1.31.85
cement==2.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.3
Django==4.2.27
djangorestframework==3.16.1
drf-spectacular==0.29.0
et_xmlfile==1.0.1
idna==3.7
inflection==0.5.1
iniconfig==1.1.1
jdcal==1.4.1
jmespath==1.0.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
openpyxl==3.0.5
packaging==20.4
pathspec==0.10.1
pluggy==0.13.1
psycopg==3.2.13
psycopg-binary==3.2.13
py==1.9.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
referencing==0.36.2
requests==2.31.0
rpds-py==0.27.1
selenium==3.141.0
semantic-version==2.8.5
six==1.15.0
sqlparse==0.5.5
termcolor==1.1.0
toml==0.10.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==1.26.18
wcwidth==0.1.9
